body {
    height: 100vh;
    background-color: lime;
}
header {
    width: 100%;
    height: 20vh;
    background-color: #69dbf5;
}
nav {
    width: 30%;
    height: 50px;
    background-color: #f23356;
    margin: 0 auto;
}
div {
    width: 100%;
    height: 60vh;
    background-color: aqua;
 }
 aside {
    width: 30%;
    height: 60vh;
    background-color: #c3c7bf;
    float: left;
    text-align: center;
 }

 main {
    width: 70%;
    height: 60vh;
    background-color: #b5f26b;
    float: right;
 }

footer {
    background-color: #c28cd1;
    height: 15vh;
}